* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
  }

  /* Adicionando animação para fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Adicionando animação aos botões */
.btn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in, transform 1.5s ease-in;
}

/* Adicionando animação de fade-in quando o botão aparece na tela */
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Animações para textos e imagens */
.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 5s forwards;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 5s forwards;
}

/* Animação para imagens */
img {
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1.5s ease;
}


img.fade-in {
  opacity: 1;
  transform: scale(1);
}

/* Para quando os elementos entram na tela */
[data-visible="true"] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
  
  html {
    font-size: 62.5%;
  }

  .error-message {
    display: none; /* Oculto por padrão */
    padding: 10px;
    margin: 0;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    font-size: 18px;
    position: fixed; /* Fixo para centralizar em relação à janela */
    top: 50%; /* Centralizado verticalmente */
    left: 50%; /* Centralizado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centralizar */
    z-index: 9999; /* Certifique-se de que a mensagem esteja acima de outros elementos */
    max-width: 80%; /* Para evitar que a mensagem seja muito larga */
    text-align: center; /* Centraliza o texto */
  }
  
  .navbar img {
    padding: 0;
    margin-left: 2%;
    width: 100px;
    height: auto; /* mantém a proporção da imagem */
    position: absolute; /* posiciona a imagem no canto superior */
    top: 0;
    left: 0;
  }
  
  #second-text{
    background-color: #ff5e00;
    padding: 3%;
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.6rem;
    margin-top: 15rem;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .skills {
    background-color: var(--skills-bg);
    color:white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--text-color2);
  }
  
  h2 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--text-color-dark2);
  }
  
  .secondary-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: var(--navbar-text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar__links a {
    color: var(--navbar-text);
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }
  
  .about__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navbar__links a:hover {
    color: var(--secondary-color);
  }
  
  #theme-toggle-button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #theme-toggle-button:hover {
    background-color: var(--dark-secondary-color);
  }
  
  .canvas-section button{
    align-items: center;
    margin: 2%;
  }

  .tertiary-title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--secondary-color);
  }
  
  p,
  .p {
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
    text-align: justify;
  }
  
  p:not(:last-of-type),
  .p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  
  .canvas-section{
   padding: 5%;
   text-align: center;
  }


  .btn {
    background-color: none;
    border: none;
    outline: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
  }
  
  .btn.btn-primary {
    background-color: #ff9102;
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 550;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .max-width {
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 26rem;
  }

  .section-simple{
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 26rem;
  }

  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-s {
    margin-bottom: 1rem;
  }
  
  .mb-m {
    margin-bottom: 2rem;
  }
  
  .mb-l {
    margin-bottom: 4rem;
  }
  
  .mb-xl {
    margin-bottom: 6rem;
  }

  .carousel-inner img {
    max-width: 50%; /* Aju  ste conforme a necessidade */
    height: 50%;
    margin: 0 auto; /* Centraliza a imagem */
  }

  #projects{
    background-color: #e9840031;
    padding: 5%;
  }

  
  /* Ajusta os botões de controle do carrossel */
  .carousel-control-prev, .carousel-control-next {
    width: 20%; /* Tamanho dos botões de controle */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(0);
    
  }

  /* Reposiciona os botões em relação à imagem */
  .carousel-control-prev {
    transform: translateX(125%);
  }

  .carousel-control-next {
    transform: translateX(-125%);
  }

  .parceiros {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .div-parceiros {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tertiary-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .parceiros-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .parceiros-list li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parceiros-list img {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
  }
  
  .img-pix{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
  }

  @media only screen and (max-width: 1024px) {
    html {
      font-size: 60%;
    }
  
    h1 {
      font-size: 6rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 58%;
    }

    .img-pix{
      width: 100%;
      margin-top: 5%;
      margin-left: 0;
      align-items: center;
    }

    .description-reforma{
      width: 100%;
      text-align: justify;
    }
    .image-polaris{
      width: 125%;
      margin-left: -10%;
    }

    .navbar.active {
      position: fixed;
      background-color: #faebd7;
      margin: 0;
      color: var(--text-color);
    }

    .navbar__mobile {
        position: relative;
      }
      
      .burger {
        position: absolute;
        right: 0; /* Coloca o menu no lado direito */
        top: -5px;
        cursor: pointer;
        scale: 2;
      }
      
      .canvas-section{
        padding: 5%;
      
      }
      .mobile__links.show {
        display: block; /* Mostra o menu quando ativado */
        align-items: center;
        margin-top: 10%;
        margin-right: 30px;
      }
      
      #close-icon {
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: 4px;
      }
  }
